mysql-connector-python
python-dotenv
ir_datasets
zstandard
Flask
nltk
spacy
datefinder
pyspellchecker
joblib
scikit-learn
faiss-cpu
sentence-transformers
gensim

# conda activate ir_env
# python -m app.main
# python -m app.main
# & "C:\Users\Classic\.conda\envs\IR_Project\python.exe" -m app.main
# pip install -r requirements.txt
